body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.login-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(-45deg, #0f172a, #1e293b, #334155, #1e293b);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-name {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: bold;

  background: linear-gradient(90deg, #38bdf8, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-box {
  width: 90%;
  max-width: 280px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  border-radius: 16px;
  overflow: hidden;
}

.login-form {
  width: 100%;
  padding: 18px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  box-sizing: border-box;
}

.login-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 12px;
  width: 100%;

  margin-bottom: 12px;
}

.avatar {
  width: 45px;
  height: 45px;

  flex-shrink: 0;

  border-radius: 50%;
  background: linear-gradient(135deg, #38bdf8, #22c55e);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  color: white;
}

.login-header h2 {
  margin: 0;

  font-size: 22px;
  line-height: 1;

  color: white;
}

.login-form input {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 8px;
  outline: none;

  font-size: 13px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 8px;

  background: linear-gradient(90deg, #38bdf8, #22c55e);
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.extra-text {
  margin-top: 5px;

  font-size: 12px;
  color: #cbd5e1;

  text-align: center;
}

.extra-text span {
  color: #38bdf8;
  cursor: pointer;
}


@media (max-width: 480px) {
  .login-box {
    max-width: 300px;
    padding: 18px;
  }

  .login-image {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    margin-bottom: 14px;
  }

  .avatar {
    width: 45px;
    height: 45px;

    font-size: 18px;
  }

  .login-form h2 {
    margin: 0;
    font-size: 20px;
  }

  .login-form {
    width: 100%;
    padding: 0;

    gap: 12px;
  }

  .login-form input,
  .login-form button {
    padding: 10px;
    font-size: 12px;
  }

  .extra-text {
    font-size: 11px;
  }
}
