
.detail {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg, #0f172a, #1e293b, #334155);
  color: white;
}


.detail-card {
  width: 700px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.8s ease;
}


.detail-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.detail-content {
  padding: 25px;
}

.detail-content h1 {
  margin-bottom: 10px;
}

.detail-content p {
  color: #cbd5e1;
  margin-bottom: 20px;
}


.detail-content button {
  padding: 12px 25px;
  background: linear-gradient(90deg, #38bdf8, #22c55e);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.detail-content button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
